# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env/
.env

# Streamlit secrets (DO NOT COMMIT)
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# ApertureDB Demo specific
*.db

.github/

docs/