# FastAPI and Server
fastapi==0.121.3
uvicorn[standard]==0.38.0
python-multipart==0.0.20

# Pydantic Settings
pydantic==2.12.4
pydantic-settings==2.12.0

# LangChain and Agent
langchain-core==1.1.0
langchain==1.0.8
langchain-google-genai==3.1.0
langgraph==1.0.3

# Database and Embeddings
aperturedb==0.4.53
# sentence-transformers # uncomment if using sentence-transformers directly for embeddings rather than API
huggingface-hub==0.36.0
numpy

# Video Processing
twelvelabs

# Rate Limiting (optional)
slowapi==0.1.9

# Environment Management
python-dotenv==1.2.1